<h1>Clients</h1>
<hr>

<div class="card-columns">

  <div class="card" *ngFor="let client of clients, let i = index">
    <img class="card-img-top" [src]="client.img" [alt]="client.name">
    <div class="card-body text-center">
      <h5 class="card-title">{{ client.name }}</h5>
      <p class="card-text">{{ client.birthdate }}</p>
      <p class="card-text">{{ client.gender }}</p>
      <p class="card-text"><small class="text-muted">Last updated 2 months ago</small></p>

      <button (click)="seeClient(i)" type="button" class="btn btn-outline-primary btn-block">
        Ver mas
      </button>
      <!-- <a [routerLink]="['/client', i]" class="btn btn-outline-primary">See more link...</a> -->
    </div>
  </div>

</div>