<h1>{{ client.name | uppercase }} <small> 16/may/2020 </small> </h1>
<div class="row">
  <div class="col-md-4">
    <img [src]="client.img" class="img-fluid" [alt]="client.name">
    <br><br>
    <a [routerLink]="['/clients']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{ client.name }}</h3>
    <hr>
    <p>some data about the client</p>

  </div>
</div>